
.video {
  box-sizing: border-box;
  position: relative;
  max-width: 280px;
  height: 100%;
  margin-bottom: 2vw;
  padding: 0 0.3vw;
  cursor: pointer;
}
.video.grid {
  width: 50%;
}
.video.list {
  width: 100%;
}

.video:hover .thumbnail_img {
  transform: scale(1.06);
}

.thumbnail {
  overflow: hidden;
  width: 100%;
  min-height: 120px;
  max-height: 155px;
}

.thumbnail_img {
  transition: transform .3s ease-in-out;
}

.metadata {
  display: flex;
  align-items: center;
  padding: 1vw 0.6vw;
}
.chthumbnail_img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 50%;
}
.title,
.channel {
  margin: 0;
  font-size: 0.75rem;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.channel {
  margin-top: 5px;
  font-size: 0.6rem;
  color: #ccc;
}

.count {
  font-size: 0.6rem;
}

@media screen and (max-width: 48rem) {
  .video {
    max-width: 260px;
  }
}
@media screen and (max-width: 32.5rem) {
  .video {
    max-width: 440px;
  }
  .thumbnail {
    max-height: 246px;
  }
}
@media screen and (max-width: 23.438rem) {
  .video {
    max-width: 325px;
  }
}