.app {
  max-width: 860px;
  min-width: 320px;
}
.content {
  display: flex;
}
.video_active {
  display: flex;
  overflow: hidden;
  height: 89vh;
}
.detail {
  flex: 1 1 70%;
}
.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 48.75rem) {
  .content {
    flex-direction: column;
  }
  .list {
    padding: 0 15px;
  }
}