@charset "utf-8";

/* common */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,article,aside,dialog,footer,header,section,footer,nav,figure,main{margin:0;padding:0}
html,body{-webkit-text-size-adjust:none;-ms-text-size-adjust:none} /* for mobile */
body,input,select,textarea,button{font-family:'공통 폰트',sans-serif}
ul,ol{list-style:none}
table{border-collapse:collapse;border-spacing:0}
input,button,select{-webkit-appearance:none;appearance:none;border:0;border-radius:0;background-color:transparent}
input::-ms-clear{display:none} /* input내 clear 버튼 제거 : IE10+ */ 
img,fieldset{border:0;vertical-align:top}
em,address{font-style:normal}
.blind,caption span,legend{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;clip:rect(0,0,0,0)}